<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viastub.kao100">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--由于 Android P 限制了明文流量的网络请求，非加密的流量请求都会被系统禁止掉 https://www.jianshu.com/p/02956bdddd2d-->
    <application
        android:name="com.viastub.kao100.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.viastub.kao100.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.viastub.kao100.module.ci.CiPage0Activity" />
        <activity android:name="com.viastub.kao100.module.ci.CiPage1Activity" />
        <activity android:name="com.viastub.kao100.module.ci.CiPage1SettingActivity" />
        <activity android:name="com.viastub.kao100.module.xue.XuePage0Activity" />
        <activity android:name="com.viastub.kao100.module.xue.XuePage1Activity" />
        <activity android:name="com.viastub.kao100.module.lian.LianPage0ActivityPractice" />
        <activity android:name="com.viastub.kao100.module.lian.LianBookUnitSummaryActivity" />
        <activity android:name="com.viastub.kao100.module.lian.LianPageScorePageActivityPractice" />
        <activity android:name="com.viastub.kao100.module.drawer.NavPageVpnActivity" />
        <activity android:name="com.viastub.kao100.module.kao.KaoExamSummaryActivity" />
        <activity android:name="com.viastub.kao100.module.kao.KaoPage0ActivityExamination" />
        <activity android:name="com.viastub.kao100.module.kao.KaoPageScorePageActivityExam" />
        <activity android:name="com.viastub.kao100.module.my.MyCiHistoryPageActivity" />
        <activity android:name="com.viastub.kao100.module.my.MyCollectionHistoryPageActivity" />
        <activity android:name="com.viastub.kao100.module.my.MyPracticeHistoryPageActivity" />
        <activity android:name="com.viastub.kao100.module.my.MyProfileSettingActivity" />
        <activity android:name="com.viastub.kao100.module.my.MyLianPage0ActivityPractice" />
        <activity android:name="com.viastub.kao100.module.my.MyDataManagmentActivity" />
    </application>

</manifest>